@import './reset.scss';

// 滚动条样式
::-webkit-scrollbar-track
{
  background: rgba(0,0,0,.1);
  border-radius: 2px;
}

::-webkit-scrollbar
{
  -webkit-appearance: none;
  width: 15px;
  height: 12px;
}

::-webkit-scrollbar-thumb
{
  cursor: pointer;
  border-radius: 5px;
  /*background: #fd7286;*/
  transition: color .2s ease;
  background-image: linear-gradient(aquamarine,#fd7286,lightgreen);
}
